# Rust
/target/
**/*.rs.bk
*.pdb
Cargo.lock

# Node.js / Frontend
/frontend/node_modules/
/frontend/build/
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/dist/
/frontend/coverage/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
.DS_Store
*.sublime-project
*.sublime-workspace

# Miscellaneous
.tmp/
.cache/
temp/
